.header{
    background:#fff;
    padding:30px;
    border-radius:16px;
    margin-bottom:25px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.header h1{
    margin:0;
    font-size:32px;
}

.header p{
    margin-top:10px;
    color:#666;
}