.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.label {
  font-size: .95rem;
  font-weight: 600;
  color: var(--text-primary);
}

.required {
  color: var(--danger);
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 12px;

  background: white;

  border: 1px solid var(--border);

  border-radius: 14px;

  padding: 0 16px;

  transition: .25s ease;
}

.inputWrapper:focus-within {
  border-color: var(--primary);
  box-shadow: 0 0 0 4px rgba(37,99,235,.12);
}

.icon {
  color: var(--text-light);
  font-size: 18px;
}

.input {
  flex: 1;

  height: 52px;

  border: none;
  outline: none;

  background: transparent;

  color: var(--text-primary);

  font-size: .96rem;
}

.input::placeholder {
  color: #94a3b8;
}

.errorBorder {
  border-color: var(--danger);
}

.error {
  color: var(--danger);
  font-size: .85rem;
}

.input:disabled {
  cursor: not-allowed;
}